<template name="Header">
    <div class="ui top fixed borderless inverted menu">
  <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>Super Student Scheduler Ultimate</h1></a>
      {{#if currentUser}}
        <a class="{{ isActiveRoute 'List_Stuff_Page'}} item" href="{{ pathFor 'List_Stuff_Page' }}">Personal Scheduler</a>
        <a class="{{ isActiveRoute 'GPA_Page'}} item" href="{{ pathFor 'GPA_Page' }}">GPA Calculator</a>
      {{/if}}
      <a href="#" class="right aligned item">{{> loginButtons align="right"}} </a>
    </div>
  </div>
</template>